
.select {
  max-width: 200px;
  margin: 0 auto;
  position: relative;



  &__title {
    border: 1px solid #333;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    font-size: 24px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  &__nav {
    position: absolute;
    padding: 5px 0 0 0;
    border: 1px solid #333;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    box-shadow:  -7px -7px 14px #d4d2d2,
    7px 7px 14px #ffffff;
  }

  &__list {
    padding: 5px 0 5px 10px;
    font-size: 18px;
  }
  &__selected {
    background-color: darkslateblue;
    color: white;
  }
}
